.term-buttons-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.term-btn {
  font-size: 20px; 
  padding: 10px 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.card {
  border: 1px solid black;
  border-radius: 3px;
  width: 175px;         
  height: 225px; 
  padding: 10px;
  margin: 10px;
}
.line {
  height: 1px;            /* Thin line */
  background-color: black;
  width: 90%;
  margin: 2px 0; 
  margin-top: 10px;
}
.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
  justify-content: center;
}
